*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-personaje{
  height: 70%;
  width: 30%;
  top: 16%;
  left: 7%;
  background: radial-gradient(#530B57, #22072A);
  border: 5px solid #921A3E;
  border-radius: 5vh;
}

.box{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: calc(1536px / 6);
  height: 256px;
  background: url(../assets/images/sprite.png);
  animation: animate 1s steps(6) infinite;
}
@keyframes animate{
  from{
    background-position: 0;
  }
  to{
    background-position: 1536px;
  }
}
.group-habilities{
  position: absolute;
  top: 12%;
  left: 73%;
}
.box-ux-research{
  background-color: #C4C4C4;
}
.box-design-thinking{
  background-color: #B55757;
}
.image-size, .box-ux-research, .box-design-thinking{
  width: 12vh;
  height: 12vh;
  border-radius: 2vh;
}
.figma{
  width: 13.5vh;
  height: 13.5vh;
  margin-left: -1vh;
}
.magnifier, .light{
  width: 6vh;
  height: 7vh;
  left: 0;
  right: 0;
}
.text-habilities{
  line-height: 0.9em;
  font-size: 0.9em;
  font-family: 'Electrolize', sans-serif;
  padding-top: 7.3vh;
}
/* Descripción acerca de mí */
.div-description{
  top: 25%;
  left: 40%;
  width: 45%;
}
.title-about-me{
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2em;
}
.description-about-me{
  font-family: 'Electrolize', sans-serif;
  font-size: 1.1em;
}