*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/
.div-contact-me{
  top: 20%;
  left: 0;
  right: 0;
  width: 30%;
}
.text-title-contact{
  font-family: 'Press Start 2P', cursive;
}
.text-contact{
  font-family: 'Electrolize', sans-serif;
}
.div-box-info{
  background-color: rgba(253, 12, 205, .3);
  top: 40%;
  width: 35%;
  left: 0;
  right: 0;
}
.btn-download-cv{
  background-color: #FF3639;
  border: 2px solid #EB5757;
  width: 40%;
  height: 6vh;
  border-radius: 1vh;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: 0px;
}
.text-color{
  color: #22072A;
}
.linkedin-logo{
  width: 6%;
  height: 10%;
  position: absolute;
  bottom: 13%;
  right: 10%;
}
@media (max-width: 1034px){
  .div-contact-me{
    width: 35%;
  }
}
@media (max-width: 994px){
  .btn-download-cv{
    width: 60%;
  }
  .div-contact-me{
    width: 45%;
  }
}
@media  (max-width: 706px) {
  .div-contact-me{
    width: 55%;
  }
  .div-box-info{
    width: 45%;
  }
}
@media (max-width: 615px) {
  .div-contact-me{
    width: 75%;
  }
  .div-box-info{
    width: 55%;
  }
  .text-title-contact{
    font-size: 2.2em;
  }
}
