*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-forest{
  background: url(../assets/images/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.forest{
  top: 42.6%;
  width: 92.8%;
  height: 50vh;
  left: 3.6%;
  border-radius: 4vh;
}
.as-cloud{
  top: 33%;
  left: 15%;
  width: 12%;
}
.box-game{
  width: 15vh;
  height: 15vh;
  cursor: pointer;
}
.banmill{
  top: 17.9%;
  left: 17.5%;
}
.banmill:hover{
  outline: 9px solid yellow;
}
.teleticket{
  top: 60.8%;
  left: 40%;
}
.teleticket:hover{
  outline: 9px solid magenta;
}
.lyft{
  top: 44.2%;
  left: 62%;
}
.lyft:hover{
  outline: 9px solid maroon;
}/*
.box4{
  top: 27.5%;
  left: 50%;
}
.box4:hover{
  outline: 9px solid springgreen;
}*/