<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Acerca de mí</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap css Compilado -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- carpeta general css -->
  <link rel="stylesheet" href="../css/general.css">
  <!-- carpeta about css -->
  <link rel="stylesheet" href="../css/about.css">
</head>
<body class="background-image">
  <div class="div-rgba"></div>
  <div class="div-box1"></div>
  <div class="div-box2"></div>
  <!-- botones para la navegación -->
  <button id="about" class="text-btn position-absolute btn-box btn-box1 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    acerca de mí
  </button>
  <button id="portfolio" class="text-btn position-absolute btn-box btn-box2 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    portafolio
  </button>
  <button id="contact" class="text-btn position-absolute btn-box btn-box3 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    contáctame
  </button>
  <!-- personaje y habilidades -->
  <div class="div-personaje position-absolute"></div>
  <div class="group-habilities">
    <img src="../assets/images/marvelapp.png" alt="" class="image-size"><br>
    <img src="../assets/images/figma.png" alt="" class="figma mt-2 mb-2"><br>
    <div class="box-ux-research">
      <img src="../assets/images/lupa.png" alt="" class="position-absolute m-auto pt-2 magnifier">
      <p class="text-center text-habilities">ux-research</p>
    </div><br>
    <div class="box-design-thinking">
      <img src="../assets/images/foco.png" alt="" class="position-absolute m-auto pt-2 light">
      <p class="text-center text-habilities">design thinking</p>
    </div>
  </div>
  <!-- descripción acerca de mí -->
  <div class="div-description position-absolute text-white">
    <h3 class="title-about-me">Hola, soy Darcy</h3>
    <br>
    <p class="description-about-me">Apasionada por la tecnología, el diseño y la investigación es lo que me dirigió hacia el campo de UX Design, tomando un curso intensivo en Laboratoria donde aprendí lo esencial que es involucrar al usuario desde el comienzo hasta la última etapa para crear proyectos con alta aceptación.</p>
    <p class="description-about-me">Me encantan también los videojuegos, espero que como a mí, te sea entretenido.</p>
  </div>
  <!-- jQuery minificado -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- FontAwesome fuente para íconos -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <!-- carpeta about.js -->
  <script src="../js/about.js"></script>
</body>
</html>