<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portafolio</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Open+Sans|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap css Compilado -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- carpeta general css -->
  <link rel="stylesheet" href="../css/general.css">
  <!-- carpeta portfolio css -->
  <link rel="stylesheet" href="../css/portfolio.css">
</head>
<body class="background-image">
  <div class="div-rgba"></div>
  <div class="div-box1"></div>
  <div class="div-box2"></div>
  <!-- botones para la navegación -->
  <button id="about"  class="text-btn position-absolute btn-box btn-box1 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    acerca de mí
  </button>
  <button id="portfolio"  class="text-btn position-absolute btn-box btn-box2 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    portafolio
  </button>
  <button id="contact"  class="text-btn position-absolute btn-box btn-box3 p-2 pl-3 pr-3 rounded text-uppercase text-white">
    contáctame
  </button>
  <!-- jQuery minificado -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- FontAwesome fuente para íconos -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="../js/about.js"></script>
</body>
</html>